body {
  margin: 0;
  font-family: "", Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#WEB3_CONNECT_MODAL_ID > div {
  z-index: 1500;
}
